<ol>
  <li><a routerLink="/componenteRouting" routerLinkActive="active">Interpolación</a></li>
  <li><a routerLink="/componenteOneWayBinding" routerLinkActive="active">One Way Binding</a></li>
  <li><a routerLink="/componenteEvento" routerLinkActive="active">Evento</a></li>
  <li><a routerLink="/componenteTwoWayBinding" routerLinkActive="active">Two Way Binding</a></li>
  <li><a routerLink="/componenteServicio" routerLinkActive="active">Servicio</a></li>
  <li><a routerLink="/componenteDirectivas" routerLinkActive="active">Directivas</a></li>
  <li><a routerLink="/componenteRoutingParametro" routerLinkActive="active">Routing con parámetro</a></li>
  <li><a routerLink="/componenteRoutingParametros" routerLinkActive="active">Routing con parámetros</a></li>

</ol>


<router-outlet></router-outlet>
